/* CSS designed by Robert M. Erickson */

/* ===================  General Section  ==================================== */

a {
	color: #ff0000;
	text-decoration: underline;
}

* {
    font-size: 12pt;  /* sets the font size for all elements. */
    /* look up reset style sheet */
}

body {
    background-color: #ffffff;
    background-image: url(redbg.gif);
    margin-left: 6em;
	margin-left:15em;
	margin-right: 15em;
}

h1 {
    color: #000000;
    font-family: "TrajanPro";
    font-weight: bold;
    font-size: 1.5em;
	background:#666;
	border:thin;
	border-bottom-left-radius: .3em;
	border-top-left-radius: .3em;
	border-bottom-right-radius: .3em;
	border-top-right-radius: .3em;
	text-align: center;
	padding-top: .5em;
	padding-bottom: .5em;
}

h2 {
    color: #000000;
    font-family: "sansserif";
    font-weight: bold;
    font-size: 1.25em;
}

h3 {
    color: black;
    font-family: 'times new roman';
    font-weight: bold;
    font-size: 1em;
}

h4 {
    color: #000000;
    font-family: "sansserif";
    font-weight: bold;
    font-size: .8em;	
}

h5 { 
    color: #000000;
    font-family: "sansserif";
    font-weight: bold;
    font-size: .6em;	
}

h6 {
    color: #000000;
    font-family: "sansserif";
    font-weight: bold;
    font-size: .5em;	
}

ol ol ol li {
    list-style: lower-alpha
}

ol ol li {
    font-weight: normal;
    list-style: decimal;
    padding-top: 0em
}

ol li {
    font-weight: bold;
    list-style: upper-roman;
    padding-top: 1em
}

ul ul ul li { 
	list-style: circle;
}

ul ul li { 
    list-style: square;
}

    ul li { 
    list-style: disc;
}

/* ===================  Header Section  ==================================== */
/* now i would have a section that corresponds to my html sections.          */
#header {
    background-color: #dddddd;
}

/* -------------------------------------------------------------------------- */
/* in my html code my body tag on the main page would have an id="main" so    */
/* i would be able to create rules for just the home page.                    */

#home {  
    background-color: #aaaaaa;
}

#home p {
    /* this rule will give all the paragraphs on the home page a first line  */
    /* indent of 3 em. it only effects paragraphs that are contained inside  */
    /* the element with the id of home, this replaces using an embeded or    */
    /* level style */
    text-indent: 3em;
}

/* ===================  General Class Section  ============================= */
/* I can add any generic classes here. Technically i can place these rules   */
/* anywhere in the style sheet. This just helps to organize everything.     */
.firstLine {
    text-indent: 3em;
}


